<div ng-show="(!conversationRef)">

    <div class="chatContainer" ng-repeat="(noti, value) in notifications">
        <h2 ng-show="$index==0">Notification</h2>
        <div ng-show="value.type == 'propose'">
            <strong>{{value.coder}}</strong> want to take <strong>{{value.pjName}}</strong> for {{value.price | currency : symbol}}<br>
            <span ng-show="value.message!='' ">Message: {{value.message}}</span>
        </div>

        <div ng-show="value.type == 'proposeAccepted'">
            Request for <a href="#!/projects/detail/{{noti}}"><strong>{{value.pjName}}</strong></a> had been accepted.<br>
        </div>

        <div ng-show="value.type == 'proposeRejected'">
            Request for <a href="#!/projects/detail/{{noti}}"><strong>{{value.pjName}}</strong></a> had been rejected.<br>
        </div>

        <div ng-show="value.type == 'addContact'">
            {{noti}} added you as a contact.<br>
            <button ng-click="notificationClear(noti);addContact(noti, false)">  Ok</button>
            <button href="" ng-click="notificationClear(noti)">  Cancel</button>
        </div>

        <div ng-show="(value.type == '1toN')||(value.type == '1to1')">
            <a href="" ng-click="selConv(noti);notificationClear(noti)">{{noti}}</a>
            <span ng-init="getUnread(noti)" ng-show="Conversations[noti].unread"> ({{Conversations[noti].unread}})</span>
            <div ng-init="getNotiData(noti, value.type)"></div>
            <div ng-repeat="(key, data) in NotiData[noti].lastMessage">
                <span><strong>{{data.addresser}}</strong> said: {{data.text}}</span><br>
                <div>{{data.timeStamp| chatTimeStamp}}</div>
            </div>
        </div>



    </div>
</div>

<div ng-show="!conversationRef">
    <h2>Conversations</h2>

    <div ng-repeat="(conv, value) in conversations">
        <a href="" ng-click="selConv(conv)">
        Members: <span ng-repeat="(index, uid) in value.members"><span ng-init="getUserName(uid)">{{Users[uid].name}}|</span></span>
        </a>
        <div ng-show="Conversations[conv].unread">({{Conversations[conv].unread}})</div>
    </div>
</div>

<div ng-show="!conversationRef">
    <h2>Contacts</h2>

    <div ng-repeat="(contact, value) in contacts">
        <a href="" ng-click="removeContact(contact)">[X]</a>
        <a href="" ng-click="talkTo(contact)" ng-init="getUserName(contact)">{{Users[contact].name}}</a>
        <span ng-show="Conversations[value.Ref].unread"> ({{Conversations[value.Ref].unread}})</span>

        <br>
        <button ng-click="invite(contact)">invite</button>

    </div>

    <div>
        <hr>
        <button ng-click="Confirm()">Create a Conversation</button>
        <br>
        <span>Users in This Conversation: {{usrInCon}}</span>
    </div>

</div>


<div ng-show="!!conversationRef">
    <button ng-click="closeWindow()">X</button>
    <ul id="messages" ng-show="messages.length">
        <li ng-repeat="message in messages">{{message.addresser}} ({{message.timeStamp| chatTimeStamp}})
            <div ng-bind-html="message.text"></div>
        </li>
        <!--use ng-bind-html because of $sanitize-->
    </ul>
    <form>
        <br>
        <input placeholder="Message..." ng-model="newMessage">
        <button type="submit" ng-click="addMessage(newMessage);newMessage = null;">send</button>
    </form>
</div>


<hr>
<div ng-show="!conversationRef">
    <h2>User List</h2>

    <div ng-repeat="(usr, value) in usrList" ng-show="usr != user.uid">
        <a href="" ng-click="addContact(usr, true)">[+]</a><a href="" ng-click="talkTo(usr)">{{value.name}}</a>
        <br>
    </div>

    <hr>
</div>
