<div ng-show="(!conversationRef)">
    <h2>Notification</h2>
    <div ng-repeat="(noti, value) in notifications">

        <a href="" ng-click="selConv(noti);notificationClear(noti)">{{noti}}</a>
        <span ng-init="getUnread(noti, 'conv')"> ({{Conversations[noti].unread}})</span>

        <div ng-init="getNotiData(noti, value.type)"></div>
        <div ng-repeat="(key, data) in NotiData[noti].lastMessage">
            <span><strong>{{data.addresser}}</strong> said: {{data.text}}</span><br>
            <div>{{data.timeStamp| chatTimeStamp}}</div>
        </div>


    </div>
</div>

<div ng-show="!conversationRef">
    <h2>Conversations</h2>

    <div ng-repeat="(conv, value) in conversations">
        <a href="" ng-click="selConv(conv)">
        Members: <span ng-repeat="(index, uid) in value.members"><span ng-init="getUserName(uid)">{{Users[uid].name}}|</span></span>
        </a>
        <div ng-init="getUnread(conv, 'conv')">({{Conversations[conv].unread}})</div>
    </div>
</div>

<div ng-show="!conversationRef">
    <h2>Contacts</h2>

    <div ng-repeat="(contact, value) in contacts">
        <a href="" ng-click="removeContact(contact)">[X]</a>
        <a href="" ng-click="talkTo(contact)" ng-init="getUserName(contact)">{{Users[contact].name}}</a>
        <span ng-init="getUnread(contact, '1to1')"> ({{Conversations[contact].unread}})</span>

        <br>
        <button ng-click="invite(contact)">invite</button>

    </div>

    <div>
        <hr>
        <button ng-click="Confirm()">Create a Conversation</button>
        <br>
        <span>Users in This Conversation: {{usrInCon}}</span>
    </div>

</div>


<div ng-show="!!conversationRef">
    <button ng-click="closeWindow()">X</button>
    <ul id="messages" ng-show="messages.length">
        <li ng-repeat="message in messages">{{message.addresser}} ({{message.timeStamp| chatTimeStamp}})
            <div ng-bind-html="message.text"></div>
        </li>
        <!--use ng-bind-html because of $sanitize-->
    </ul>
    <form>
        <br>
        <input placeholder="Message..." ng-model="newMessage">
        <button type="submit" ng-click="addMessage(newMessage);newMessage = null;">send</button>
    </form>
</div>


<hr>
<div ng-show="!conversationRef">
    <h2>User List</h2>

    <div ng-repeat="(usr, value) in usrList" ng-show="usr != user.uid">
        <a href="" ng-click="addContact(usr)">[+]</a><a href="" ng-click="talkTo(usr)">{{value.name}}</a>
        <br>
    </div>

    <hr>
</div>
