ul {
    list-style-type: none;
}
.chatContainer {
    width: 300px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: lightgray;
}
.notification {
    width: 300px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: lightgray;
}

.intro {
    background-color: yellow;
}

.calendar-container {
    width: 500px;
}

