<h2>Account</h2>

<form>
    <fieldset>
        <legend>Profile</legend>

        <label>
            <span>Name:</span>
            <br/>{{profile.name}}
        </label>

        <label>
            <span>Email:</span>
            <br/>{{profile.email}}
        </label>
    </fieldset>
</form>

<form ng-show="showPwdEml">
    <fieldset>
        <legend>Change Password</legend>

        <label>
            <span>Old Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="oldpass"/>
        </label>

        <label>
            <span>New Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="newpass"/>
        </label>

        <label>
            <span>Confirm New Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="confirm"/>
        </label>

        <button ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

        <p class="error" ng-show="err">{{err}}</p>

        <p class="good" ng-show="msg">{{msg}}</p>
    </fieldset>
</form>

<form ng-show="showPwdEml">
    <fieldset>
        <legend>Change Email</legend>

        <label>
            <span>New Email:</span>
            <input type="text" ng-keypress="clear()" ng-model="newEmail"/>
        </label>

        <label>
            <span>Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="pass"/>
        </label>

        <button ng-click="changeEmail(pass, newEmail)">update email</button>

        <p class="error" ng-show="emailerr">{{emailerr}}</p>

        <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
    </fieldset>
</form>


<form ng-submit="userInfoUpdate()">
    <fieldset>
        <legend>User Info</legend>
        <label>
            <span>Name:</span>
            <input type="text" name="name" ng-model="userInfo.name"/>
        </label>

        Category:
        <div ng-repeat="(cate, value) in userInfo.categories">{{cate}}<a href ng-click="removeCate(cate)">X</a></div>
        <span class="nullable">
          <select ng-change="addCate()" ng-model="selectedCate" ng-options="category for category in categories">
          <option value="">-- choose a category --</option>
          </select>
        </span><br>

<span class="nullable">
        language:
    <div ng-repeat="(lang, value) in userInfo.languages">{{lang}}<a href ng-click="removeLang(lang)">X</a></div>
      <select ng-change="addLang()" ng-model="selectedLang" ng-options="language for language in languages">
          <option value="">-- choose a language --</option>
      </select>
    </span><br>
        <input type="submit" id="submit" value="Update!"/>
    </fieldset>
</form>

<button ng-click="logout()">Log Out</button>