<h2>Account</h2>

<div class="row">

    <valid-form id="account">
        <div class="form-group">
            <label class="col-lg-4 control-label">Name</label>
            <div class="col-lg-2">
                <input type="text" class="form-control" name="userName" ng-model="userInfo.name"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4 control-label">Email</label>
            <div class="col-lg-3">
                <input type="text" class="form-control" name="email" ng-model="userInfo.email"/>
            </div>
        </div>



        <div class="form-group">
            <label class="col-lg-4 control-label">Category</label>

            <div class="col-lg-4 nullable">

            <span ng-repeat="(cid, value) in userInfo.categories">{{value.name}}<a href ng-click="removeCate(cid)">[X]
            </a><span ng-hide="$last">, </span></span>
                <a href="" ng-hide="showLangSel" ng-click="showLangSel=true">[+]</a>
          <span class="nullable" ng-show="showLangSel">
          <select class="form-control" ng-change="addCate();showLangSel=false" ng-model="$parent.selectedCate" ng-options="category.name for category in categories">
              <option value="">-- choose a category --</option>
          </select>
          </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4 control-label">language</label>

            <div class="col-lg-4 nullable">

            <span ng-repeat="(lid, value) in userInfo.languages">{{value.name}}<a href ng-click="removeLang(lid)">[X]
            </a><span ng-hide="$last">, </span></span>
                <a href="" ng-hide="showLangSel" ng-click="showLangSel=true">[+]</a>
          <span class="nullable" ng-show="showLangSel">

          <select class="form-control" ng-change="addLang();showLangSel=false" ng-model="$parent.selectedLang" ng-options="language.name for language in languages">
              <option value="">-- choose a language --</option>
          </select>
          </span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-7">
                <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
                <!--<button type="submit" class="btn btn-default" disabled="true">Sign up</button>-->
                <button ng-init="$parent.validFormtype='update';$parent.isFormValid=true"
                        class="btn btn-large btn-default" ng-disabled="!isFormValid||!userInfo.categories||!userInfo.languages"
                        ng-click="userInfoUpdate()">Update!</button>
            </div>
        </div>
    </valid-form>
</div>


<form ng-show="showPwdEml">
    <fieldset>
        <legend>Change Password</legend>

        <label>
            <span>Old Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="oldpass"/>
        </label>

        <label>
            <span>New Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="newpass"/>
        </label>

        <label>
            <span>Confirm New Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="confirm"/>
        </label>

        <button ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

        <p class="error" ng-show="err">{{err}}</p>

        <p class="good" ng-show="msg">{{msg}}</p>
    </fieldset>
</form>

<form ng-show="showPwdEml">
    <fieldset>
        <legend>Change Email</legend>

        <label>
            <span>New Email:</span>
            <input type="text" ng-keypress="clear()" ng-model="newEmail"/>
        </label>

        <label>
            <span>Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="pass"/>
        </label>

        <button ng-click="changeEmail(pass, newEmail)">update email</button>

        <p class="error" ng-show="emailerr">{{emailerr}}</p>

        <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
    </fieldset>
</form>







<button ng-click="logout()">Log Out</button>