<script type="text/javascript">
    $(document).ready(function(){
        // simple jRating call
        $(".basic").jRating();
    });
</script>




<!-- basic exemple -->
<div class="exemple">

    <!-- in this exemple, 12 is the average and 1 is the id of the line to update in DB -->
    <div class="basic" data-average="12" data-id="1"></div>

    <!-- in this other exemple, 8 is the average and 2 is the id of the line to update in DB -->
    <div class="basic" data-average="8" data-id="2"></div>

</div>