

<form class="form-signin" role="form" ng-submit="login('password' ,email, pass)">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="email" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="email">
    <input type="password" class="form-control" placeholder="Password" required="" ng-model="pass">
        <span ng-cloak ng-show="createMode">
            <input type="password" class="form-control" placeholder="Confirm" ng-model="confirm" />
        </span>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type='submit' ng-hide="createMode">Sign in</button>
    <button class="btn btn-lg btn-success btn-block" ng-click="createMode = true" ng-hide="createMode">Register</button>
    <button class="btn btn-lg btn-success btn-block" ng-cloak ng-show="createMode" ng-click="createAccount(email, pass, confirm)">Create Account</button>
    <button class="btn btn-lg btn-danger btn-block" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
</form>

<form>


    <!--<label>
        <span>email</span>
        <input type="text" ng-model="email" />
    </label>
    <label>
        <span>password</span>
        <input type="password" ng-model="pass" />
    </label>
    <label ng-cloak ng-show="createMode">
        <span>confirm pass</span>
        <input type="password" ng-model="confirm" />
    </label>-->







    <hr>
    <button ng-click="login('facebook')">Log In with Facebook</button><br>
    <button ng-click="login('gitHub')">Log In with GitHub</button><br>
    <button ng-click="login('twitter')">Log In with Twitter</button><br>
    <button ng-click="login('google')">Log In with Google</button><br>


    <p ng-show="err" class="error">{{err}}</p>
</form>
<hr>
