<div class="row">
    <div class="col-md-2">
        <a href="#!/newProject" class="btn btn-danger">new project</a>
    </div>
    <div class="col-md-8">
        Search: <input ng-model="searchText">
    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-2">
        <div class="vnav-container">
            <div class="nav vnav" style="left: 0px; display: block; top: 0px; opacity: 1;" ng-init="vnMleave('gray', 100)">
                <a ng-click="selCate('');selLang('')" class="menu-link" ng-style="vnList[100]" href="" ng-mouseover="vnMover('gray', 100)" ng-mouseleave="vnMleave('gray', 100)">
        <span class="hover-target" style="width: 200px;">
          <span class="icon-container" ng-style="vnIconBg[100]">
              <span>
                <img src="http://placekitten.com/50/48" />
              </span>
          </span>

          <span class="title" ng-style="vnFontColor[100]" style="color: #555555; display: table-cell;">All</span>
        </span>
                </a>

            </div>
            <div ng-repeat="item in categories" class="nav vnav dropdown" style="left: 0px; display: block; top: 0px; opacity: 1;" ng-init="vnMleave(item.color, $index)">
                <a class="menu-link dropdown-toggle" ng-style="vnList[$index]" href="" ng-mouseover="vnMover(item.color, $index)" ng-mouseleave="vnMleave(item.color, $index)">
        <span class="hover-target" style="width: 200px;">
          <span class="icon-container" ng-style="vnIconBg[$index]">
              <span>
                <img src="http://placekitten.com/50/48" />
              </span>
          </span>

          <span class="title" ng-style="vnFontColor[$index]" style="color: #555555; display: table-cell;">{{item.name}}</span>
        </span>
                </a>
                <ul class="dropdown-menu right-menu">
                    <li ng-repeat="lang in item.lang">
                        <a href="" ng-click="selCate(item.name);selLang(lang)">{{lang}}</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="col-md-10">
        <div class="card" ng-repeat="pj in pjList |pjToArray| filter:searchText |categorize:cate:lang|orderBy:predicate:reverse">
            <div class="card-content">
                <a class="card-click-target" href="#!/projects/detail/{{pj.ref}}"></a>
                <div class="cover">
                    <div class="cover-image-container">
                        <div class="cover-outer-align">
                            <div class="cover-inner-align">
                                <img class="cover-image" src="https://lh3.ggpht.com/3RelTy1OtmXT-M4XzPGCt3ZNayrlEjho1ukHx11QKVckYS7vY6x_t8OO1I4mWcOzuYtg=w170-rw">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="details">
                    <h2> <a class="title" href="#!/projects/detail/{{pj.ref}}">{{pj.name|capitalize}}<span class="paragraph-end"></span> </a> </h2>
                    <div class="subtitle-container">
                        <a class="subtitle" href="#!/users/detail/{{pj.clientUid}}">{{pj.clientName}}</a>  <span class="paragraph-end"></span>
                    </div>
                    <div class="description">{{pj.category}}/<span ng-repeat="(lid, value) in pj.language">{{value.name}}<span
                            ng-hide="$last">, </span> </span><br>
                        {{pj.brief}}<span class="paragraph-end"></span>
                    </div>
                </div>
                <div class="reason-set">
        <span class="price-container">
          <a href="" class="price"> <span>US$&nbsp;{{pj.price}}.00</span></a>
        </span>
        <span class="date-container">
          <a href="" class="date"> <span>{{pj.due|date: "yyyy/MM/dd"}}</span></a>
        </span>
                </div>

            </div>

        </div>
    </div>
</div>


