<p>Name: {{pj.name}}</p>
<p>Client: {{pj.clientUid}}</p>
<p>Brief: {{pj.brief}}</p>
<p>Due: {{pj.due |date: "yyyy/MM/dd"}}</p>
<p>Category: {{pj.category}}</p>
<p>Language: <span ng-repeat="(lid, value) in pj.language">{{value.name}}<span ng-hide="$last">, </span> </span> </p>
<p>Requirements: {{pj.requirements}}</p>
<p>Description: <span ng-bind-html="pj.description |linkify"></span></p>
<div ng-hide="pj.assignedTo||show||(pj.clientUid==myUid)">
    <button ng-show="!proposeExists" ng-click="showForm=true" class="btn btn-primary">Propose</button>
    <button ng-show="proposeExists" ng-click="showForm=true" class="btn btn-primary">Repropose</button>
</div>

<valid-form id="propose" ng-show="showForm">
    <div class="form-group">
        <label class="col-md-1 control-label">Price</label>
        <div class="col-md-4">
            <input ng-model="propose.price" name="proposePrice" type="text" class="form-control" placeholder="0.00 USD" id="proposePrice">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">Expect due time</label>
        <div class="col-md-4">
            <input ng-model="propose.expectDue" type="text" class="form-control" placeholder="Pick a date" id="proposeDue">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">Message</label>
        <div class="col-md-4">
            <input ng-model="propose.message" type="text" class="form-control" placeholder="Leave a message" id="proposeMessage">
        </div>
    </div>
    <div class="form-group" ng-show="!proposeExists">
        <label class="col-md-1 control-label"></label>
        <div class="col-md-4">
            <button ng-click="proposeSend(propose, pj);$parent.showForm=false" class="btn btn-primary">Send</button>
            <button ng-click="$parent.proposeExists= false;$parent.showForm=false" class="btn btn-danger">Cancel</button>
        </div>
    </div>
    <div class="form-group" ng-show="proposeExists">
        <label class="col-md-1 control-label"></label>
        <div class="col-md-4">
            <button ng-click="proposeSend(propose, pj);$parent.showForm=false" class="btn btn-primary">Update</button>
            <button ng-click="proposeRemove(pj.clientUid);$parent.showForm=false" class="btn btn-danger">Withdrawn</button>
        </div>
    </div>
</valid-form>


<hr>
<div id="disqus_thread" disqus="id"></div>
