<form ng-submit="updateProject()">
    <p>Name: <input class="form-control" type="text" ng-model="pj.name"/></p>
    <p>Brief: <input class="form-control" type="text" ng-model="pj.brief"/><br></p>
    <div class="row">
        <div class="col-md-2">
            Due:
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="pj.due" is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" show-button-bar=false />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <p>Requirements: <input class="form-control" type="text" ng-model="pj.requirements"></p>

    <span  class="nullable">
        Category:
      <select ng-model="pj.category" ng-options="category for category in categories">
          <option value="">-- choose a category --</option>
      </select>
    </span><br/>

    <span  class="nullable">
        language:
      <select ng-model="pj.language" ng-options="language for language in languages">
          <option value="">-- choose a language --</option>
      </select>
    </span><br/>

    <p>Description: <textarea class="form-control" ng-model="pj.description"></textarea></p>
    <input class="form-control btn btn-primary" type="submit" id="submit" value="Update!" />
    <div id="disqus_thread" disqus="id"></div>
</form>
<hr>

