<p>Name: {{pj.name}}</p>
<p>Client: {{pj.clientUid}}</p>
<p>Brief: {{pj.brief}}</p>
<p>Due: {{pj.due |date: "yyyy/MM/dd"}}</p>
<p>Requirements: {{pj.requirements}}</p>
<p>Description: <span ng-bind-html="pj.description |linkify"></span></p>
<div ng-init="show=false" ng-hide="show||(pj.clientUid==myUid)">
    <button ng-show="!proposeExists" ng-click="show=true" class="btn btn-primary">Propose</button>
    <button ng-show="proposeExists" ng-click="show=true" class="btn btn-primary">Repropose</button>
</div>
<div ng-show="show">
    <div ng-show="!proposeExists">
        <form role="form">
            <div class="form-group">
                <label for="proposePrice">Price</label>
                <input ng-model="propose.price" type="text" class="form-control" id="proposePrice" placeholder="0.00 USD">
            </div>
            <div class="form-group">
                <label for="proposeMessage">Message</label>
                <input ng-model="propose.message" type="text" class="form-control" id="proposeMessage" placeholder="Enter Message">
            </div>
            <button ng-click="proposeSend(pj.clientUid, propose.price, propose.message, pj.name);show=false" class="btn btn-primary">Send</button>
            <button ng-click="proposeExists= false;show=false" class="btn btn-danger">Cancel</button>
        </form>
    </div>
</div>

<div ng-show="show">
    <div ng-show="proposeExists">
        <form role="form">
            <div class="form-group">
                <label for="proposePrice">Price</label>
                <input ng-model="propose.price" type="text" class="form-control" id="proposePrice">
            </div>
            <div class="form-group">
                <label for="proposeMessage">Message</label>
                <input ng-model="propose.message" type="text" class="form-control" id="proposeMessage">
            </div>
            <button ng-click="proposeSend(pj.ClientUid, propose.price, propose.message, pj.Name);show=false" class="btn btn-primary">Update</button>
            <button ng-click="proposeRemove(pj.ClientUid);show=false" class="btn btn-danger">Withdrawn</button>
        </form>
    </div>
</div>

<hr>
<div id="disqus_thread" disqus="id"></div>
