<a href="#!/newProject">new project</a>
<hr>
<div ng-repeat="(pjRef, pjData) in pjList">
    Name: <a href="#!/projects/edit/{{pjRef}}">{{pjData.name}}</a><br>
    Brief: <a href="#!">{{pjData.brief}}</a><br>
    Requirements: <a href="#!">{{pjData.requirements}}</a><br>
    Client: <a href="#!">{{pjData.clientName}}</a><br>
    Status: {{pjData.status}}<br>
    Assigned to: {{pjData.assignedTo}}<br>
    <button class="btn btn-danger" ng-click="remove(pjRef)">Remove</button>
    <hr>

    <h3>Waiting list</h3>
    <div ng-repeat="(coder, request) in pjData.waitingList">
        Name: {{coder}}<br>
        Price: {{request.price}}<br>
        Message: {{request.message}}<br>
        <button ng-click="accept(pjRef,coder, pjData, request.price)">Accept</button>
        <button ng-click="reject(pjRef,coder, pjData)">Reject</button>
    </div>

    <hr>
</div>