<form ng-submit="updateProject()">
    <p>Name: <input class="form-control" type="text" ng-model="pj.name"/></p>
    <p>Brief: <input class="form-control" type="text" ng-model="pj.brief"/><br></p>
    <div class="row">
        <div class="col-md-2">
            Due:
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="pj.due" is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" show-button-bar=false />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <p>Requirements: <input class="form-control" type="text" ng-model="pj.requirements"></p>



    Category:<a href="" ng-hide="showCateSel" ng-click="showCateSel=true">{{pj.category}}</a>
        <span class="nullable" ng-show="showCateSel">
      <select ng-change="selectCate();showCateSel=false" ng-model="selectedCate" ng-options="category.name for category in categories">
          <option value="">-- choose a category --</option>
      </select>
    </span>
    <br>


    language:
    <span ng-repeat="(lid, value) in pj.language">{{value.name}}<a href ng-click="removeLang(lid)">[X]</a><span ng-hide="$last">, </span></span>
    <a href="" ng-hide="showLangSel" ng-click="showLangSel=true">[+]</a>

    <span class="nullable" ng-show="showLangSel">
      <select ng-change="addLang();showLangSel=false" ng-model="selectedLang" ng-options="language.name for language in languages">
          <option value="">-- choose a language --</option>
      </select>
    </span>

    <p>Description: <textarea class="form-control" ng-model="pj.description"></textarea></p>
    <input class="form-control btn btn-primary" type="submit" id="submit" value="Update!" />
    <div id="disqus_thread" disqus="id"></div>
</form>
<hr>

