<div class="row">
    <div class="col-md-2">
        <button class="btn btn-large btn-primary">Job manager</button>
    </div>
    <div class="col-md-8">
        Search: <input ng-model="searchText">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div>
            <ul>
                <li>
                    <a href="#!/newProject" class="btn btn-danger">new project</a>
                </li>
                <li>
                    <a href="" ng-click="filter.status=''"><h3>My Projects</h3></a>
                </li>
                <li>
                    <a href="" ng-click="filter.status='In Progress'"><h3>In Progress</h3></a>
                </li>
                <li>
                    <a href="" ng-click="filter.status='Published'"><h3>Published</h3></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-hover" ng-init="predicate='-createdTime';reverse=false">
            <thead>
            <tr>
                <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Project Name</a></th>
                <th><a href="" ng-click="predicate = 'createdTime'; reverse=!reverse">Date created</a></th>
                <th><a href="" ng-click="predicate = 'due'; reverse=!reverse">Due</a></th>
                <th><a href="" ng-click="predicate = 'status'; reverse=!reverse">Status</a></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pj in pjList|pjToArray|categorize:cate:lang|filter:searchText|filter:filter.status|orderBy:predicate:reverse">
                <td><a href="#!/projects/edit/{{pj.ref}}">{{pj.name}}</a><br></td>
                <td><a href="">{{pj.createdTime|date: "yyyy/MM/dd"}}</a><br></td>
                <td><a href="">{{pj.due|date: "yyyy/MM/dd"}}</a><br></td>
                <td>{{pj.status}}<br></td>
                <td>
                    <button ng-show="!pj.assignedTo" class="btn btn-danger" ng-click="remove(pj.ref)">Remove</button>
                    <span ng-hide="!pj.assignedTo">Assigned to: {{pj.assignedTo}}</span>
                </td>
            </tr>

            <!--
            Category: <a href="">{{pj.category}}</a><br>
            Language: <a href=""><span ng-repeat="(lid, value) in pj.language">{{value.name}}<span ng-hide="$last">, </span> </span></a><br>
            Requirements: <span>{{pj.requirements}}</span><br>
            <span ng-hide="!pj.assignedTo">Assigned to:</span> {{pj.assignedTo}}<br>

            <tr ng-repeat-end>
                <td colspan="4">

            <span ng-repeat="(coder, request) in pj.waitingList">
                <h3 ng-show="$index==0">Waiting list</h3>
                Name: {{coder}}<br>
                Price: {{request.price}}<br>
                Message: {{request.message}}<br>
                <button ng-click="accept(pj.ref, coder, pj, request.price)">Accept</button>
                <button ng-click="reject(pj.ref, coder, pj)">Reject</button>
            </span>
                </td>
            </tr>
            -->
            </tbody>
        </table>


    </div>
    <div class="col-md-2">
        <div ng-repeat="propose in waitingList">
            Project: {{propose.name}}<br>
            Name: {{propose.coder}}<br>
            Price: {{propose.request.price}}<br>
            Message: {{propose.request.message}}<br>
            <button ng-click="accept(propose.ref, propose.coder, propose, propose.request.price);propose.show=false">Accept</button>
            <button ng-click="reject(propose.ref, propose.coder, propose);propose.show=false">Reject</button>
        </div>
    </div>
</div>
