
<valid-form id="pjNew" bvoptions="bvOptions">
    <div class="form-group">
        <label class="col-md-4 control-label">Project name*</label>

        <div class="col-md-4">
            <input type="text" class="form-control" name="projectName" ng-model="pj.name"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Brief*</label>

        <div class="col-md-4">
            <input type="text" class="form-control" name="brief" ng-model="pj.brief"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Expected Price*</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="price" ng-model="pj.price"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Due*</label>
        <div class="col-md-2">
            <span class="input-group"><input name="datePicker" type="text" class="form-control" datepicker-popup='yyyy/MM/dd' ng-model="form.dt" is-open="form.opened"
                                                 min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"
                                                 ng-required="true" show-button-bar="false" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Category*</label>
        <div class="col-md-4 nullable">
            <select class="form-control" ng-change="selectCate()" name="catePicker" ng-model="form.selectedCate" ng-options="category.name for category in categories">
                <option value="">-- choose a language --</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Language*</label>

        <div class="col-md-4 nullable">

            <span ng-repeat="(lid, value) in pj.language">{{value.name}}
                <a href ng-click="removeLang(lid)">[X]
            </a><span ng-hide="$last">, </span></span>
            <a href="" ng-hide="showLangSel" ng-click="showLangSel=true">[+]</a>
          <span class="nullable" ng-show="showLangSel">

          <select class="form-control" ng-change="addLang();showLangSel=false" ng-model="form.selectedLang" ng-options="language.name for language in languages">
          <option value="">-- choose a language --</option>
          </select>
          </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Requirements</label>

        <div class="col-md-4">
            <input type="text" class="form-control" name="requirements" ng-model="pj.requirements"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Description*</label>

        <div class="col-md-4">
            <textarea class="form-control" ng-required="true" name="description" ng-model="pj.description"></textarea></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
            <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
            <!--<button type="submit" class="btn btn-default" disabled="true">Sign up</button>-->
            <input type="reset" class="btn btn-large btn-default" value="Reset!">
            <button class="btn btn-large btn-default" ng-disabled="!form.isFormValid||!pj.language||!pj.category" ng-click="createProject()">Publish!</button>
        </div>
    </div>
</valid-form>